<body style="font-family:Verdana" ng-controller="ChatController">
<!--<h1>    {{message}} </h1>-->
<div class="container">
    <div class="row ">
        <!--<h3 class="text-center">BOOTSTRAP CHAT EXAMPLE </h3>-->
        <br/><br/>
        <div class="col-md-8">
            <div class="panel panel-info" >
                <div  class="panel-heading">
                    RECENT CHAT HISTORY
                </div>

                <!--In case no chat was selected-->
                <div ng-hide="messages">
                    <img src="../assets/img/crown.jpg" alt="" style="height: 100%; width: 100%">
                </div>

                <div class="panel-body" ng-show="messages" >
                    <ul class="media-list" ng-repeat="msg in messages track by $index" >
                        <li class="media">
                            <div class="media-body">
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle " style="max-height: 60px"
                                             src="assets/img/crown.jpg"/>
                                    </a>
                                    <div class="media-body">
                                        {{ msg.text }}
                                        <br/>
                                        <small class="text-muted">Jhon Rexa | 23rd June at 5:00pm</small>
                                        <hr/>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-body">
                                <div class="media">
                                    <a class="pull-right" href="#">
                                        <img class="media-object img-circle " style="max-height: 60px"
                                             src="assets/img/milan.jpg"/>

                                    </a>
                                    <div class="media-body">
                                        Donec sit amet ligula enim. Duis vel condimentum massa. Donec sit amet ligula
                                        enim. Duis vel condimentum massa.Donec sit
                                        amet ligula enim. Duis vel condimentum massa. Donec sit amet ligula enim. Duis
                                        vel condimentum massa.
                                        <br/>
                                        <small class="text-muted">Alex Deo | 23rd June at 5:00pm</small>
                                        <hr/>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-body">
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle " style="max-height: 60px"
                                             src="assets/img/crown.jpg"/>
                                    </a>
                                    <div class="media-body">
                                        {{ msg.text }}
                                        <br/>
                                        <small class="text-muted">Jhon Rexa | 23rd June at 5:00pm</small>
                                        <hr/>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-body">
                                <div class="media">
                                    <a class="pull-right" href="#">
                                        <img class="media-object img-circle " style="max-height: 60px"
                                             src="assets/img/milan.jpg"/>

                                    </a>
                                    <div class="media-body">
                                        Donec sit amet ligula enim. Duis vel condimentum massa. Donec sit amet ligula
                                        enim. Duis vel condimentum massa.Donec sit
                                        amet ligula enim. Duis vel condimentum massa. Donec sit amet ligula enim. Duis
                                        vel condimentum massa.
                                        <br/>
                                        <small class="text-muted">Alex Deo | 23rd June at 5:00pm</small>
                                        <hr/>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-body">
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle " style="max-height: 60px"
                                             src="assets/img/crown.jpg"/>
                                    </a>
                                    <div class="media-body">
                                        {{ msg.text }}
                                        <br/>
                                        <small class="text-muted">Jhon Rexa | 23rd June at 5:00pm</small>
                                        <hr/>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-body">
                                <div class="media">
                                    <a class="pull-right" href="#">
                                        <img class="media-object img-circle " style="max-height: 60px"
                                             src="assets/img/milan.jpg"/>

                                    </a>
                                    <div class="media-body">
                                        Donec sit amet ligula enim. Duis vel condimentum massa. Donec sit amet ligula
                                        enim. Duis vel condimentum massa.Donec sit
                                        amet ligula enim. Duis vel condimentum massa. Donec sit amet ligula enim. Duis
                                        vel condimentum massa.
                                        <br/>
                                        <small class="text-muted">Alex Deo | 23rd June at 5:00pm</small>
                                        <hr/>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter Message"/>
                        <span class="input-group-btn">
                                        <button class="btn btn-info" type="button">SEND</button>
                                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    ONLINE USERS
                </div>
                <div class="panel-body">
                    <ul id="onlineUsers" class="media-list" ng-repeat="user in users track by $index">

                        <li class="media" ng-click="redirectChat(user)">
                            <div class="media-body">
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <!--<img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.gif" />-->
                                    </a>
                                    <div class="media-body">
                                        <h5>{{ user }}</h5>
                                        <small class="text-muted">Active From 3 hours</small>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

